body {
    box-sizing: border-box;
}



.app {
    padding: 15px;
    border-radius: 10px;
    height: calc(100vh - 30px);
    width: calc(100vw - 30px);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: rgba(255, 255, 255, 0.416) solid 4px;
    overflow: hidden;
}

.app .heading {
    display: flex;
    align-items: center;
}

.app .heading p {
    background-color: var(--surface-color-primary);
    border-radius: var(--border-radius);
    padding: 5px;
}


.app>.item {
    overflow: scroll;
    width: 100%;
    border-radius: var(--border-radius);
}

#not-avialable {
    margin: 2px;
    padding: 2px 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--surface-color);
    border-radius: var(--border-radius);
    display: none;
}

#startup {
    display: none;
    height: 400px;
    width: 100%;
    flex-direction: column;
}

#startup img {
    height: 50px;
}

#license-tab.startup #startup {
    display: flex;
}

#license-tab.startup #license-heading {
    display: none;
}

#license-tab.startup section:is(#group, #license) {
    display: none;
}

#license-tab.license-invalid section#group {
    display: none;
}

#license-tab.license-invalid #not-avialable {
    display: flex;
}

#group .surface {
    border: 2px solid #000000;
    border-radius: var(--border-radius);


    padding: 5px;
    background-color: var(--surface-color);
}




:is(#group, #license) .surface .group-header {
    height: fit-content !important;
    position: relative;
}


:is(#group, #license) .surface .icon {
    padding: 5px;
    border-radius: 100%;
    height: 55px;
    aspect-ratio: 1;
    background-color: #000000;
    color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;

}

#group .group-name {
    position: relative;
}

#group .group-name.change .input {
    display: flex;
}

#group .group-name .input {
    display: none;
    align-items: center;
    position: absolute;
    width: 100%;
    gap: 5px;
    border-radius: var(--border-radius);
    outline: none;
    background-color: var(--surface-color-primary);
}



#group .group-name input {
    height: 28px;
    border-radius: var(--border-radius);
    border: #eef525 2px solid;
    outline: none;

}

#group .input i.fa-paper-plane {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    padding: 5px;
}


.header-item:hover .group-name i.fa-paper-plane {
    color: var(--background-color) !important;

}


:is(#group, #license) :is(.item, .header-item) {
    padding-inline: 10px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

:is(#group, #license) :is(.item, .header-item) a {
    display: flex;
    gap: 5px;
}

:is(#group, #license) :is(.item, .header-item):hover i {
    color: var(--accent-color);
}

#group :is(.item, .header-item) .required-overlay {
    position: absolute;
    width: calc(100% - 10px);
    height: 100%;
    border: #eef525 solid 5px;
    border-radius: var(--border-radius);
    left: 0;
}

.signatures,
.rooms,
.invitations {
    margin-inline: 10px;
    margin-bottom: 5px;
    display: none;
    gap: 5px;

    width: max-content;
}

:is(.signatures, .rooms) .item {
    display: none;
    height: 40px;
    min-width: 50px;
    max-width: 100px;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    padding: 5px;
    position: relative;
}

:is(.signatures, .rooms) .item>i {
    position: absolute;
    right: 5px;
    backdrop-filter: blur(5px);
}

#group :is(.signatures, .rooms, .invitations).expanded {
    display: flex;
    height: auto;

}

#license-code {
    border: 2px solid #000000;
    border-radius: var(--border-radius);
    padding: 5px;
    background-color: var(--surface-color-error);
}

#license-tab.license-valid #license-code {
    background-color: var(--accent-color);
}

#license .change-license-key {
    position: relative;
}

#license .change-license-key .fa-rotate {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--surface-color-primary);
    border-radius: 50%;
    font-size: 10px;
}

.request {
    width: 100%;
    border: 2px dashed lightslategray;
    padding-inline: 5px;
    margin-block: 5px;
}

.request h2 {
    grid-column: span 2;
}

.add-btn {
    position: absolute;
    bottom: 60px;
    right: 0px;
    z-index: 2;
    height: 50px;
    width: 50px;
    font-size: 25px;
    background-color: var(--surface-color-primary);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn:hover {
    background-color: var(--accent-color);
}


.navbar {
    display: flex;
    gap: 10px;
    justify-content: center;
    border-radius: 10px;
    margin: 5px;
    padding: 2px;
    box-shadow: 5px;
    background-color: var(--surface-color-primary);
    position: absolute;
    bottom: 0;

}

.navbar.small {
    width: 75px;
}

.navbar.small p {
    display: none;
}

.navbar .fa-arrow-left {
    transition: 500ms rotate;
}

.navbar.small .fa-arrow-left {
    rotate: -180deg;

}


.navbar input {
    display: none;
}




.nav-el {
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 40vw;
}

.nav-el:hover {
    border-color: var(--accent-color);
}

.nav-el i {
    font-size: 28px;
}

#toggle-sidebar-label {
    position: absolute;
    bottom: 10px;
    width: 95%;
    display: none;
}

.nav-el.active i {
    color: var(--accent-color);
}

dialog#invite-users-modal{
    overflow: visible;
}

dialog#invite-users-modal .card-div .card p.info-text{
    display: none;
}

dialog#invite-users-modal .card-div .card .fa-circle-question:not(:active){
    
        pointer-events: all;
    
}

dialog#invite-users-modal .card-div .card .fa-circle-question:hover ~ p.info-text{
    display: flex;
    background-color: var(--surface-color-inactive);
    font-size: 12px;
    position: absolute;
    left: -100px;
    top: -30px;
    margin: 0;
    padding: 5px;
    width: max-content;
    height: 25px;
    border-radius: var(--border-radius);
}

#invite-users-modal #invitation span{
    display: none;
    padding: 5px;
    border: var(--accent-color) 5px solid;
    border-radius: var(--border-radius);
}

#invite-users-modal #invitation{
   display: flex;
   gap: 10px;
}

.card-div {

    display: flex;
    gap: 10px;
}

.card {
    padding: 5px;
    border-radius: var(--border-radius);
    position: relative;
}

.card input {
    font-size: 20px;
    margin-inline: 0;
    accent-color: var(--accent-color);
}


.card:has(input:checked) {
    background-color: var(--surface-color);

}


dialog#submit-version-modal form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

dialog#submit-version-modal :is(form>input, form> select, .changes) {
    grid-column: span 3;
    width: 100%;
}

dialog#submit-version-modal .line-wrapper {
    display: grid;
    grid-template-columns: auto 35px;
}


section#license-tab {
    flex-direction: column;
}

section#license-tab h2 {
    font-size: 20px;
    grid-column: 2;
    width: 100%;
    text-align: center;

}

section .surface {

    border: 2px solid #000000;
    border-radius: var(--border-radius);

    max-height: 500px;
    padding: 5px;
    background-color: var(--surface-color);

}

dialog#change-license-modal {
    max-width: 500px;
}

dialog#change-license-modal p {
    margin: 0;
}

dialog#change-license-modal p#error-output {
    margin-top: 5p;
}




dialog#change-license-modal form .grid-wrapper {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 10px;
    margin-block: 10px;
}

.progress-bar {
    display: none;
    height: 60px;
    background-color: var(--surface-color);
    grid-template-columns: 60px auto;
    align-items: center;
}

.progress-bar i#progress-check {
    display: none;
    justify-self: center;
    font-size: 25px;
}



.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--accent-color);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}



dialog#invite-users-modal form fieldset {
    border: none;
    padding-block: 2px;
}

dialog#invite-users-modal form h3 {
    text-align: left;
    padding-block: 2.5px;
}

dialog#invite-users-modal section#invitation {
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    row-gap: 0px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--surface-color-inactive);
    width: 390px;
    margin-inline: auto;

}

#invitation-output-placeholder{
    grid-column: span 2;

}

@media screen and (max-width: 799px) {
    nav {
        background-color: var(--surface-color-inactive);
        border: #000000 2px solid;
        left: -5px;
        bottom: -5px;
    }

    .nav-el {
        flex-direction: column;
    }

    .nav-el p {
        font-size: 10px
    }
}

@media screen and (min-width: 800px) {
    .app {
        position: relative;
        height: max(60vh, 400px);
        width: max(50vw, 768px);
    }

    .navbar {

        top: 60px;
        width: 250px;
        flex-direction: column;
        height: calc(max(55vh, 250px)-60px);
        justify-content: flex-start;

    }



    .nav-el#toggle-sidebar-label {
        display: flex;
    }

    .app>.item {
        grid-column: 2;
        position: absolute;
        top: 65px;
        left: 290px;
        width: calc(100% - 300px);
        height: max(calc(50vh - 5px), 340px);
    }



    .app:has(.navbar.small) .item {
        left: 110px;
        width: calc(100% - 110px);
    }

    dialog {
        max-width: 500px;
    }




}