p {
    margin: 0;
}

.app {
    border-radius: 10px;
    height: 100dvh;
    width: 100vw;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 100%;
    gap: 5px;
    overflow: hidden;
}


.app>.item {
    display: none;
    overflow: scroll;
    border-radius: var(--border-radius);
}

.navbar {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 5px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 5px;
    background-color: var(--surface-color-group);
    position: relative;
    width: calc(100% - 10px);
    height: 80px;
    grid-row: 3;
}

.navbar.small {
    width: 75px;
}

.navbar.small p {
    display: none;
}

.navbar .fa-arrow-left {
    transition: 500ms rotate;
}

.navbar.small .fa-arrow-left {
    rotate: -180deg;

}


.navbar input {
    display: none;
}

.navbar .logo-wrapper{
    gap: 25px;
}

.navbar .logo{
    height: 64px;
}

.navbar h3{
    font-weight: 600;
}

.navbar .nav-header{
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    align-items: center;
}

.navbar .nav-header i:not(.fa-circle-caret-up){
    color: var(--accent-color);
}

.nav-el {
    border-radius: 10px;
    padding: 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 40vw;
    background-color: var(--surface-color-inactive);
    /* height: max-content; */
    gap: 5px;
}

.nav-el:hover {
    border-color: var(--accent-color);
}

.nav-el i {
    font-size: 28px;
    margin-inline: auto;
}

.nav-el p {
    margin: 0;
}

.nav-el.active {
    background-color: var(--surface-color-selected);
}

.nav-el.active {
    font-weight: bold;
}



.top-bar {
    display: flex;
    overflow-y: visible;
    position: relative;
    height: 40px;
    width: fit-content;
}

.top-bar>div {
    padding-inline: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.top-bar .chips {
    display: flex;
    gap: 5px;
    overflow-x: scroll;
    overflow-y: visible;

}

.top-bar .chip {
    background-color: var(--surface-color);
    display: flex;
    padding: 5px;
    gap: 5px;
    border-radius: 5px;
    align-items: center;
    height: 25px;
}

.top-bar .chip:hover>i {
    color: var(--accent-color);
}

.top-bar .chip.inactive {
    pointer-events: none;
    background-color: var(--surface-color-inactive);
}

.top-bar .chip.lazy {
    background-color: var(--surface-color-inactive);
}

.top-bar .chip.view {
    width: fit-content;
    background-color: var(--background-color);
    display: flex;
    gap: 3px;
    padding: 0;
    border: none;
}

.top-bar .chip#show-filter-modal-chip {
    display: none;
}

.top-bar .menu {
    position: absolute;
    top: 35px;
    right: 0px;
    background-color: var(--surface-color);
    width: fit-content;
    height: fit-content;
    margin: 8px 5px;
    border-radius: 5px;
    flex-direction: column;
    gap: 5px;
}

.top-bar .menu[open] {
    display: flex;
}

.top-bar .menu :is(h3, i) {
    color: var(--text-color)
}

.top-bar .view-item {
    height: 25px;
    padding: 5px;
    background-color: var(--surface-color-inactive);
}

.top-bar .view-item:has(input:checked) {
    background-color: var(--accent-color);
}

.top-bar .view-item:has(input:checked) i {
    color: #ffffff;
}

.top-bar .view-item:hover i {
    color: var(--accent-color);
}

.top-bar .view-item input {
    display: none;
}



#default {
    border-radius: 5px 3px 3px 5px;
}

#upcoming {
    border-radius: 3px 5px 5px 3px;
}

.add-btn {
    position: absolute;
    bottom: 60px;
    right: 0px;
    z-index: 2;
    height: 50px;
    width: 50px;
    font-size: 25px;
    background-color: var(--surface-color-primary);
    border-radius: var(--border-radius);
    border: 5px solid white;
}

.add-btn:not(.active){
    display: none;
}

.add-btn:hover {
    background-color: var(--accent-color);
}



.interaction-wrapper {
    display: grid;
    grid-template-columns: 25% 100% 25%;
    height: 100%;
    overflow: scroll;
    align-items: center;
    overflow: scroll;

}

.interaction-wrapper>div {
    flex-direction: column;
}

.interaction-wrapper>div>i {
    font-size: 25px;
    color: var(--accent-color);
}

#rooms-div {
    padding-block: 10px;
    height: calc(100% - 60px);
}

#rooms-div .initial img {
    height: 150px;
}

.decrease-date-div,
.increase-date-div {
    width: 100%;
    height: 100%;
    background-color: hotpink;
}

.room-name {
    height: 20px;
    width: fit-content;
    display: inline;
    margin: auto;
    background-color: var(--surface-color-primary);
    padding: 5px;
    border-radius: var(--border-radius);

    font-size: 15px;
    font-weight: 500;
}

.room-occupation {
    display: grid;
    grid-template-rows: repeat(2, 20px);
    grid-template-columns: auto auto;
    align-items: center;
    background-color: var(--surface-color-inactive);
    border-radius: var(--border-radius);
    margin: 5px 3px;
    padding: 5px;
    height: 40px;
}

.invited-users-scheduled {
    margin: 5px;
    padding: 2px;
    height: 25px;
    border-radius: 5px;
    gap: 2px
}

.invited-users-scheduled :is(span, p) {
    background-color: var(--surface-color-primary);
    height: 100%;
}

.invited-users-scheduled p {
    margin: 0;
    border-radius: 5px 2px 2px 5px;
}

.invited-users-scheduled span {
    width: 20px;
    border-radius: 2px 5px 5px 2px;
}


:not(dialog) .wrapper {
    overflow: scroll;
}


#toggle-sidebar-label {
    display: none;
    margin-top: auto;
}



main{
    flex-direction: column;
}


@media screen and (max-width: 300px) {
    nav {
        width: calc(100vw - 20px) !important;
    }

    .nav-el p {
        display: none;
    }
}

@media screen and (min-width: 500px) {
    dialog#messages {
        max-width: 700px;
        height: 300px;
    }


    dialog#messages .dialog-body {
        margin-left: -16px;
        margin-top: -16px;
        height: calc(100% + 32px);
        grid-template-columns: 1fr 2fr;
    }

    dialog#messages ul#messenger-tabs {
        height: 100%;
    }
}

@media screen and (min-width: 800px) {
    .app {
        position: relative;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 50px 1fr;
    }

    .app.full {
        height: calc(100dvh - 30px);
        width: 100vw;
        border: none;
        padding-block: 15px;
        border-radius: 0;
    }

    .app.full>.item {
        height: 100%;
    }

    .app:has(.navbar.small) {
        grid-template-columns: 95px calc(max(50vw, 768px) - 105px);
    }

    .center:has(>.navbar) {
        display: block;
    }

    .navbar {
        width: 280px;
        flex-direction: column;
        grid-column: 1;
        grid-row: 1;
        border-radius: 10px;
        justify-content: flex-start;
        height: 100dvh;
        border-radius: 0;
    }



    .nav-el {
        flex-direction: row;
        height: 55px;
    }

    .nav-el#toggle-sidebar-label {
        display: flex;
    }

    .nav-el p {
        margin: auto;
    }

    .app>.item {
        grid-column: 2;
    }

    #rooms-div {
        display: grid;
        grid-template-columns: min-content 1fr;
    }

    #rooms-div .initial {
        grid-column: 1 / -1;
        height: 100%;
        width: 100%;
        flex-direction: column;
    }



    .room {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: subgrid;
    }



    .room .room-occ-space {
        grid-column: 2;
    }

    .add-btn {
        border-radius: 15px;
        bottom: 10px;
    }


  
    dialog#messages ul#messenger-tabs li label i {
        font-size: 15px;
    }

}

@media screen and (hover: hover) {
    .room-name:hover {
        background-color: var(--accent-color);
    }

    .room-occupation:hover {
        background-color: var(--surface-color);
    }


    .room-occupation:hover .invited-users-scheduled :is(p, span) {
        background-color: var(--accent-color);
    }

    dialog#initial-setup nav i:hover {
        color: var(--accent-color);
    }

    .signatures .item i {
        display: none;
        color: #000 !important;
    }

    .signatures .item:hover i {
        display: block;
    }

}