.app {
    padding: 15px;
    border-radius: 10px;
    height: calc(100vh - 30px);
    width: 100vw;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: rgba(255, 255, 255, 0.416) solid 4px;
    overflow: hidden;
}



.app>.item {
    overflow: scroll;
    height: 100%;
    border-radius: 5px;
}



.top-bar {
    padding-inline: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: var(--surface-color-inactive);
}

.add-btn {
    position: absolute;
    bottom: 10px;
    right: 0px;
    z-index: 2;
    height: 50px;
    width: 50px;
    font-size: 25px;
    background-color: var(--surface-color-primary);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn:hover {
    background-color: var(--accent-color);
}

#rooms-div{
    padding-block: 10px;
}

.room-name {
    height: 20px;
    width: fit-content;
    display: inline;
    margin: auto;
    background-color: var(--surface-color-primary);
    padding: 5px;
    border-radius: 5px;

    font-size: 15px;
    font-weight: 500;
}

.room-occupation{
    background-color: var(--surface-color-inactive);
    border-radius: 5px;
margin: 5px 3px;
}

.wrapper {
    overflow: scroll;
}

.signatures,
.rooms {
    margin-inline: 10px;
    margin-bottom: 5px;
    display: flex;
    gap: 5px;

    width: max-content;
}

:is(.signatures, .rooms) .item {
    height: 40px;
    min-width: 50px;
    max-width: 100px;
    background-color: var(--accent-color);
    border-radius: 5px;
    padding: 5px;
    position: relative;
}

:is(.signatures, .rooms) .item>i {
    position: absolute;
    right: 5px;
    backdrop-filter: blur(5px);
}

.app #settings {
    display: none;
}




.navbar {
    display: flex;
    gap: 10px;
    justify-content: center;
    border-radius: 10px;
    margin: 5px;
    padding: 2px;
    box-shadow: 5px;
    background-color: var(--surface-color-primary);
    position: absolute;
    bottom: 0;
    
}

.navbar.small {
    width: 75px;
}

.navbar.small p {
    display: none;
}

.navbar .fa-arrow-left {
    transition: 500ms rotate;
}

.navbar.small .fa-arrow-left {
    rotate: -180deg;

}


.navbar input {
    display: none;
}




.nav-el {
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 40vw;
}

.nav-el:hover {
    border-color: var(--accent-color);
}

.nav-el i {
    font-size: 28px;
}

#toggle-sidebar-label {
    position: absolute;
    bottom: 10px;
    width: 95%;
    display: none;
}

.nav-el.active i {
    color: var(--accent-color);
}



#settings {
    padding: 5px;
}

#settings h3 {
    margin: 0;
}

#settings .surface {
    border: 2px solid #000000;
    border-radius: 5px;

    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
    background-color: var(--surface-color);
}

#settings .account {
    height: fit-content !important;
    position: relative;
}

#settings .account .img {
    padding: 5px;
    border-radius: 100%;
    height: 55px;
    aspect-ratio: 1;
    background-color: #000000;
    color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;

}

#settings .account .img i {
    font-size: 55px;
}

#settings .account h2 {
    grid-column: 2;
    width: 100%;
    text-align: center;
}



#settings :is(.item, .header-item) {
    padding-inline: 10px;
    height: 35px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}

#settings .header-item i#user-info {
    position: relative;
    margin-inline-end: 5px;
}

#settings .header-item i.fa-solid.fa-circle-info {
    padding: 1px;
    position: absolute;
    right: -5px;
    bottom: -3px;
    font-size: 10px;
    background-color: var(--surface-color);
    border-radius: 100%;
}

#settings .header-item.active i.fa-caret-right {
    color: var(--accent-color);
    rotate: 90deg;
}

#settings :is(.item, hr) {
    overflow: hidden;
    display: none;
    height: 0;
    transition: height 500ms ease;
    transition-delay: 3ms;
}

#settings :is(.item, hr).expanded {
    display: flex;
    height: auto;

}


#settings .item.visible {
    display: flex;
}

#settings :is(.item, .header-item) i {
    font-size: 15px;
}

#settings :is(.item, .header-item):hover i {
    color: var(--accent-color);
}

#settings .options {

    display: flex;
    gap: 10px;
}

#settings .option {
    padding: 5px;
    border-radius: 5px;
}

#settings .option input {
    display: none;
}

#settings .option:has(input:checked) {
    background-color: #dddddd;
}

#settings .app-info {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: darkgray;
    font-weight: bolder;
}

dialog {
    border-radius: 15px;
    max-width: 500px;
    position: relative;
    overflow: hidden;
}

dialog::backdrop {
    background-color: black;
    opacity: 0.5;
}



dialog span i.fa-xmark {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

dialog#new-room-occ {
    background-color: var(--background-color);
    color: var(--text-color);
}

dialog#new-room-occ form{
    display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 5px;
}

dialog#new-room-occ .full {
    grid-column: span 4;
}

dialog#new-room-occ label:not(.time-label){
   
    grid-column: 1;
}

dialog#initial-setup .static {

    display: block;
    margin-inline: 10px;
    width: 500px;
    height: 250px;
    overflow: hidden;
    position: relative;
}

dialog#initial-setup .tabs {
    padding: 0;

    display: flex;
    gap: 10px;
    height: 350px;
    width: 2000px;
    position: absolute;
    left: 0;
}


dialog#initial-setup .tab {
    width: 500px;

}

dialog#initial-setup .tab input {
    width: 50px;
}

dialog#initial-setup nav {
    background-color: #cde5ff;
    width: 500px;
    height: 50px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;

}

dialog#initial-setup nav i {
    display: inline;
    width: 50px;
    font-size: 20px;
    margin-inline: auto;
    position: absolute;
    right: 5px;
    color: #000;
}

dialog#initial-setup .dot {
    height: 10px;
    aspect-ratio: 1;
    border: 2px solid var(--accent-color);
    border-radius: 100%;


}

dialog#initial-setup .dot:is(:hover, .active) {
    background-color: var(--accent-color);
}


dialog#feedback-modal {
    height: 65vh;

    overflow: scroll;
}

dialog#feedback-modal :is(label, input) {
    display: block;
}

dialog#feedback-modal h2 {
    margin: 2px;
}

.info {
    display: none;
}

@media screen and (max-width: 300px){
    nav{
        width: calc(100vw - 20px) !important;
    }

    .nav-el p{
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .add-btn{
        bottom: 90px;
    }
}

@media screen and (min-width: 800px) {
    .app {
        position: relative;
        height: max(50vh, 250px);
        width: max(50vw, 768px);
    }

    .room {
        display: grid;
        grid-template-columns: 30% 70%;
    }



    .room .room-occ-space {
        grid-column: 2;
    }

    .navbar {

        top: 60px;
        width: 250px;
        flex-direction: column;
        height: calc(max(55vh, 250px)-60px);
        justify-content: flex-start;

    }



    .nav-el#toggle-sidebar-label {
        display: flex;
    }

    .settings,
    main {
        grid-column: 2;
        position: absolute;
        top: 65px;
        left: 290px;
        width: calc(100% - 300px);
  height: max(45vh, 190px);
    }


   
    .app:has(.navbar.small) .item {
        left: 110px;
        width: calc(100% - 110px);
    }

    .info {
        display: block;
    }


}

@media screen and (hover: hover) {
    .room-name:hover {
        background-color: var(--accent-color);
    }

    .room-occupation:hover{
        background-color: var(--surface-color);
    }

    dialog#initial-setup nav i:hover {
        color: var(--accent-color);
    }

    .signatures .item i {
        display: none;
        color: #000 !important;
    }

    .signatures .item:hover i {
        display: block;
    }

}