.container {
    display: flex;
    padding: 0px;
    overflow: scroll;
}

.container.login .main {
    flex-direction: column;
}

.container .decoration {
    display: flex;
    min-height: 150px;
    align-items: center;
    margin: 10px;
}

.container:is(.login, .signup) img.logo {
    width: 80px;
    padding-block: -10px;
    z-index: 1;
}

.container>ul {
    grid-column: span 2;
    margin: 0;
    padding: 0;
    align-self: self-end;
    font-size: 16px;
}

.container:is(.login, .signup) .text {
    z-index: 1;
    flex-direction: column;
}

.container .main {
    padding-inline: 15px;
    height: calc(100% - 20px);
}

.container:is(.login, .signup) :is(input, button) {
    width: calc(100% - 10px) !important;
    grid-column: span 2;
    align-self: center;
}


.container .increase-tab-index {
    width: calc(100% - 50px) !important;
}

.container.signup .message {
    flex-direction: column;
    padding: 10px;
    height: auto;
}


@media screen and (min-width: 700px) {
    .container:is(.signup) {
        height: 470px;
        padding-block: 5px;
    }

    .container:is(.signup)> :is(div, form) {
        height: 450px;

    }

    .container {
        width: 600px;
        display: grid;
        grid-template-columns: 295px 295px;
    }

    .container .decoration {
        justify-content: center;
    }

    .container>div:not(.top-bar) {
        min-height: 250px;
    }

    :is(.container.login) .blob#main {
        width: 200px;
        height: 200px;
    }

    .blob#main {
        bottom: -50px;
        left: -50px;
    }

    :is(.container.login) .blob#secondary{
        width: 250px;
        height: 165px;
    }

    .blob#secondary {
        top: -50px;
        right: -90px;
        width: 300px;
        height: 200px;
    }

    .container:is(.login, .signup) img.logo {
        position: absolute;
    }


    .container:is(.login, .signup) .text {
        position: absolute;
        left: 50px;
        bottom: 10%;
    }

    .container:is(.login, .signup) .main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}